/*!
*
* 404 Error Page
*
*/

.page-404{

	background-color: $white;

	background-image: url(../img/katie-thomas-headshot-home-b.jpg);
	background-repeat: no-repeat;
	background-position: 83% 0%;
	background-size: cover;

 	@media (min-width: $screen-sm-min) {
	// background-size: auto;
	// background-position: 80% 0%;
 	}

 	@media (min-width: $screen-md-min) {
	// background-size: auto;
	// background-position: 80% 0%;
 	}

	.site-header{
	}

	.site-wrapper{
	}

		.site-container{
			@extend .container-fluid;
		}

			.site-content{
				@include make-row();
			}

				.content-area{
					@include make-sm-column(6);
					@include make-md-column(5);
					@include make-md-column-offset(1);

					color: $kt-orange-dark;

					margin-top: 400px;

				 	@media (min-width: $screen-sm-min) {
						margin-top: $baseline * 4;
				 	}
				}
					.site-main{
					}
}