/*!
*
* Page: Media
*
*/

.page-media{

.site-wrapper{
  }

    .site-container{
    }

      .site-content{
      }

        .content-area{
        }

          .site-main{
          }

            article{
            }

              .entry-header{
//                margin-top: $baseline * 4;

                @media (min-width: $screen-md-min) {
                  margin-top: $baseline * 4;
                }
              }

              hr + h2{
                margin-top: $baseline * 4;
              }

              .my-gallery{
                figure{
                  img{
                    max-width: none !important;
                  }
                }
              }

              #gallery-headshots{
                #figure-10 img{
                      // -webkit-transform: translate(-50%,-50%);
                      //     -ms-transform: translate(-50%,-50%);
                      //         transform: translate(-50%,-50%);
                }

                #figure-11 img{
                      -webkit-transform: translate(-50%,-25%);
                          -ms-transform: translate(-50%,-25%);
                              transform: translate(-50%,-25%);
                }

               #figure-12 img{
                      -webkit-transform: translate(-50%,-50%);
                          -ms-transform: translate(-50%,-50%);
                              transform: translate(-50%,-50%);
                }
              }

              .figure-video{
              }
}