/*!
*
* Mastheads
*
*/

.masthead{
	@extend .text-center;
	padding-top: $baseline * 2 * 0;
	padding-bottom: 0;

	@media (min-width: $screen-sm-min) {
		padding-top: $baseline * 4 * 0;
		padding-bottom: 0;
	}

	@media (min-width: $screen-md-min) {
		padding-top: $baseline * 4 * 0;
		padding-bottom: 0;
	}

	@media (min-width: $screen-lg-min) {
		padding-top: $baseline * 4 * 0;
		padding-bottom: 0;
	}
}

.masthead-title {
	@extend .center-block;
	margin-bottom: $baseline;

	/* Extra small devices (phones, less than 768px) */
	max-width: 11em;

	@media (min-width: $screen-sm-min) {
		max-width: 20em;
	}

	@media (min-width: $screen-md-min) {
	}

	@media (min-width: $screen-lg-min) {
	}
}

.masthead-subtitle {
	@extend .center-block;
	@extend .h3;

	margin-bottom: $baseline * 2;
	font-weight: $font-weight-normal;

	/* Extra small devices (phones, less than 768px) */
	max-width: 13em;


	@media (min-width: $screen-sm-min) {
		max-width: 18em;
	}

	@media (min-width: $screen-md-min) {
		max-width: 22em;
	}

	@media (min-width: $screen-lg-min) {
	}
}

.masthead-divider{
	@extend .center-block;

	width: 68px;
	margin-top: $baseline;
	margin-bottom: $baseline;

	/* Small devices (tablets, 768px and up) */
	@media (min-width: $screen-sm-min) {
		margin-top: $baseline * 2;
		margin-bottom: $baseline * 2;
	}
}

.masthead-button{
}

.masthead-navbar-overlap{
    position: relative;

    @media (min-width: $screen-sm-min) {
      top: -54px; // ~ Navbar height
      margin-bottom: -54px; // Navbar height
    }
  }

.masthead.masthead-featured-image{
	padding-bottom: $baseline * 0;

	@media (min-width: $screen-sm-min) {
		padding-bottom: $baseline * 2 * 0;
	}

	.masthead-figure{
		margin-top: 0;
		margin-bottom: 0;
		min-height: 288px;
//		max-height: 576px;
		overflow: hidden;
		position: relative;

		height: 288px;

    @media (min-width: $screen-sm-min) {
 			height: 576px;
    }

    @media (min-width: $screen-md-min) {

    }

    @media (min-width: $screen-lg-min) {
 			height: 720px;
    }

	}

	img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: 100%;
		height: auto;
	}

}


.masthead.masthead-background-image{
	background-size: cover;

	background-repeat: no-repeat;
	background-position: 50% 0%;

  &::before {
    content: '';
    display: block;
    padding-bottom: 56.25%;
  }

		height: 288px;

    @media (min-width: $screen-sm-min) {
 			height: 576px;
    }

    @media (min-width: $screen-md-min) {
    }

    @media (min-width: $screen-lg-min) {
// 			height: 720px;
// 			background-size: cover;
    }
}



// Masthead Gallery

.masthead.masthead-gallery{
	@extend .clearfix;

	.carousel-indicators {
		bottom: -10px;
	}

	.my-gallery{
		figure{
		}
	}
}


// Masthead Partitions
.masthead.masthead-partitions{

	.masthead-partition-content{
		text-align: left;
	}

	.masthead-partition-image{
		padding: 0;
	}
}